<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Savon: Delicious SOAP</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/docs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">    
  </head>

  <body>
    <div class="container">
     <div class="three columns sidebar">
        <nav>
          <h3 id="logo">Savon</h3>
          <ul>
            <li><a href="#installation">Installation</a></li>
            <li><a href="#getting_started">Getting started</a></li>
            <li><a href="#soap_requests">SOAP requests</a></li>
            <li><a href="#the_response">The response</a></li>
            <li><a href="#configuration">Configuration</a></li>
            <li><a href="#savon_model">Savon Model</a></li>
            <li><a href="#resources">Resources</a></li>
            <li><a href="#alternatives">Alternatives</a></li>
          </ul>
        </nav>
        &nbsp;
      </div>
      <div class="twelve columns offset-by-one content">
        <header>
          <h1>Delicious Soap</h1>
        </header>
        <hr class="large" />
        {{ content }}
        <hr />
        <div class="doc-section" id="attribution">
          <p class="remove-bottom"><small>Created by <a href="http://www.davegamache.com">Dave Gamache</a>, 2011 &copy;<br />
          I want to thank <a href="http://twitter.com/#!/smileyj68">@smileyj68</a> for all the inspiration and for helping me get to a place to create Skeleton, <a href="http://twitter.com/#!/mdo">@mdo</a> for being a boss, giving awesome feedback and helping me get Skeleton out of the door, <a href="http://html5boilerplate.com/">the whole HTML5 Boilerplate project/team</a> that served as an indispensable resource, <a href="http://www.960.gs">960.gs</a> for a great starting point and their PSD template and <a href="http://twitter.com/#!/ashleybatz">@ashleybatz</a> for putting up with my late night coding and shenanigans.</small></p>
        </div>
      </div>
    </div>

    <div class="resize"></div>
  </body>
</html>
