<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - Savon: Heavy metal SOAP client</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="stylesheets/application.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">    
  </head>

  <body>
    <div class="container">
     <div class="three columns sidebar">
          <nav>
            <h3 id="logo">Skeleton</h3>
            <ul>
              <li><a href="#whatAndWhy">What &amp; Why</a></li>
              <li><a href="#grid">Grid</a></li>
              <li><a href="#typography">Typography</a></li>
              <li><a href="#buttons">Buttons</a></li>
              <li><a href="#tabs">Tabs</a></li>
              <li><a href="#forms">Forms</a></li>
              <li><a href="#mediaQueries">Media Queries</a></li>
              <li><a href="#support">Support</a></li>
              <li><a href="#examples">Examples</a></li>
              <li><a href="#download">Download</a></li>
            </ul>
            <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/13109/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
          </nav>
          &nbsp;
        </div>
        <div class="twelve columns offset-by-one content">
          <header>
            <h1>A Beautiful Boilerplate for Responsive, Mobile-Friendly Development</h1>
            <a href="http://twitter.com/share" class="twitter-share-button" data-text="Skeleton - A Beautiful Boilerplate for Responsive, Mobile-Friendly Development" data-count="horizontal" data-via="dhg">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </header>
          <hr class="large" />
          {{ content }}
          <hr />
          <div class="doc-section" id="attribution">
            <p class="remove-bottom"><small>Created by <a href="http://www.davegamache.com">Dave Gamache</a>, 2011 &copy;<br />
            I want to thank <a href="http://twitter.com/#!/smileyj68">@smileyj68</a> for all the inspiration and for helping me get to a place to create Skeleton, <a href="http://twitter.com/#!/mdo">@mdo</a> for being a boss, giving awesome feedback and helping me get Skeleton out of the door, <a href="http://html5boilerplate.com/">the whole HTML5 Boilerplate project/team</a> that served as an indispensable resource, <a href="http://www.960.gs">960.gs</a> for a great starting point and their PSD template and <a href="http://twitter.com/#!/ashleybatz">@ashleybatz</a> for putting up with my late night coding and shenanigans.</small></p>
          </div>
        </div><!-- content -->
      </div><!-- container -->

      <div class="resize"></div>
    </body>
</html>
